@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://db.onlinewebfonts.com/c/9a4b138bd9c8e1eba20dbd6a0bb1d832?family=Cooper+Black');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html {
    scroll-behavior: smooth;
}

.parallax {
  /* The image used */
  background-image: url("./images/marble-red-01.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}

.parallax-music {
  /* The image used */
  background-image: url("./images/thumb16.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}

.parallax-about {
  background-image: url("./images/4003633.jpg");
    /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}

.op0 {
    opacity: 0;
}

.trans-back {
    background-color: transparent;
}

.first-drop-text:hover {
    color: #c1121f;
}
.second-drop-text:hover {
    color: #c1121f;
}
.third-drop-text:hover {
    color: #c1121f;
}
.fourth-drop-text:hover {
    color: #c1121f;
}

.header-link {
    color: inherit;
    text-decoration: none;
}

.first-drop-text {
    cursor: pointer;
    color: #FFBE0B;
    font-family: "Cooper Black";
}
.second-drop-text {
    cursor: pointer;
    color: #FFBE0B;
    font-family: "Cooper Black";
}
.third-drop-text {
    cursor: pointer;
    color: #FFBE0B;
    font-family: "Cooper Black";
}
.fourth-drop-text {
    cursor: pointer;
    color: #FFBE0B;
    font-family: "Cooper Black";
}

$easing: cubic-bezier(.25,1.7,.35,.8);
$duration: 0.5s;

.arrow-icon {
  height: 2.8em;
  width: 2.8em;
  padding: 0.5em;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.left-bar {
  position: absolute;
  background-color: transparent;
  top: 0;
  left:0;
  width: 40px;
  height: 10px;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
  &:after {
    content:"";
    background-color: white;
    width: 40px;
    height: 10px;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.right-bar {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left:26px;
  width: 40px;
  height: 10px;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
  &:after {
    content:"";
    background-color: white;
    width: 40px;
    height: 10px;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.record {
  position: relative;
  margin-left: -100px;
  margin-top: -100px;
  width: 800px; height: 800px;
  border-radius: 50%;
  background: 
    linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0,
    linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 60%) no-repeat 0 100%,
    repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
  background-size: 50% 100%, 100% 50%, 100% 100%;
    animation-name: record;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.record:after {
  position: absolute;
  top: 39%; left: 39%;
  margin: -35px;
  border: solid 1px #d9a388;
  width: 250px; height: 250px;
  border-radius: 50%;
  background-image: url("./images/69-692697_paige-face-circle-face-in-a-circle-hd.png");
  content: '';
  background-position: center;
}

// @keyframes record {
//   from {
//     transform: rotate(0);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

.follow {
  font-family: "Cooper Black";
  font-size: 60px;
}

.divider {
    background-color: #FB5607;
    padding-top: 300px;
}

.Music {
    background-color: rgba(153, 153, 153, 0.979);
    padding-top: 100px;
}

.Social {
    background-color: #FB5607;
    color: white;
    padding-top: 100px;
}

.Footer {
    background-color: #FB5607;
    color: white;
    padding-top: 50px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 17px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #00aced;
  transition: all 0.5s ease;
}

/*apple*/
.wrapper ul li:hover.apple {
  border: 5px solid #a4c0ca;
  box-shadow: 0 0 15px #a4c0ca;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-apple {
  color: #a4c0ca;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #f540bc;
  box-shadow: 0 0 15px #fff;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #f540bc;
  transition: all 0.5s ease;
}

/* twitch */
.wrapper ul li:hover.twitch {
  border: 5px solid #bc1fd8;
  box-shadow: 0 0 15px #fff;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitch {
  color: #bc1fd8;
  transition: all 0.5s ease;
}

/* spotify */
.wrapper ul li:hover.spotify {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #fff;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-spotify {
  color: #4dc247;
  transition: all 0.5s ease;
}

.scroll {
  margin-left: 550px;
  margin-top: -100px;
  cursor: pointer;
}

.scrolldown {
  --color: #FFBE0B;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}


/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}



$root: '.c-rainbow';

:root {
 --color-background: #31037D;
 
 --axis-x: 1px;
 --axis-y: 1rem;
 --delay: 10;
 
 --color-black: #000;
 --color-pink: #FF006E;
 --color-orange: #FB5607;
 --color-red: #06D6A0;
 --color-violet: #CF52EB;
 --color-blue: #44A3F7;
 --color-green: #5ACB3C;
 --color-yellow: #FFBE0B;
 
 --color-foreground: var(--color-pink);
 --font-name: Righteous;
}

.this {
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
//  font-family: 'Righteous', cursive;
font-family: "Cooper Black";
}

#{$root} {
 counter-reset: rainbow;
 position: relative;
 display: block;
 
 list-style: none;
 
 padding: 0;
 margin: 0;
 
 &__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow; 
  font-size: 6rem;
  color: var(--text-color);

  text-shadow:
   -1px -1px 0 var(--color-black),  
    1px -1px 0 var(--color-black),
    -1px 1px 0 var(--color-black),
     1px 1px 0 var(--color-black),
   
     4px 4px 0 rgba(0, 0, 0, .2);
  
  animation: rainbow 5s ease-in-out infinite;
  
  @for $i from 1 through 7 {
   &:nth-child(#{$i}) {
    animation-delay: calc( #{$i} / var(--delay) * 1.5s);
    z-index: #{$i * 10};
   }
  }
  
  &:not(:first-child) {
   position: absolute;
   top: 0;
  }

  &--pink  { --text-color: var(--color-pink)}
  &--orange { --text-color: var(--color-orange)}
  &--red    { --text-color: var(--color-red)}
  &--violet { --text-color: var(--color-violet)}
  &--blue   { --text-color: var(--color-blue)}
  &--green  { --text-color: var(--color-green)}
  &--yellow { --text-color: var(--color-yellow)}
 }
}

@keyframes rainbow {
 0%, 100% {
  transform: translatey(calc(var(--axis-y) * 3)); 
 }
 50% {
  transform: translatey(calc(var(--axis-y) * -3));
 }
} 

.about-head {
  font-size: 35px;
  font-family: 'Acme', sans-serif;
  color: #fff;
}

.about-name {
  font-size: 80px;
  font-family: "Cooper Black";
  color: #c1121f;
}

.about-card {
  font-family: 'Acme', sans-serif;
  color: #555b6e;
}

.about-text {
  font-size: 28px;
}

.contact-button{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  cursor: pointer;
}
.contact-button .contact-link{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Acme', sans-serif;
  
}
.contact-button .contact-link:before,
.contact-button .contact-link:after{
  position: absolute;
  content: "CONTACT";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #fff;
  box-sizing: border-box;
  border-radius: 5px;
}
.contact-button .contact-link:before{
  color: #d00000;
  background: #fff;
  transform: rotateY(0deg) translateZ(25px);
}
.contact-button .contact-link:after{
  color: #d00000;
  content: "LETS CHAT";
  transform: rotateX(90deg) translateZ(25px);
}
.contact-button .contact-link:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}