@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://db.onlinewebfonts.com/c/9a4b138bd9c8e1eba20dbd6a0bb1d832?family=Cooper+Black');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

$easing: cubic-bezier(.25,1.7,.35,.8);
$duration: 0.5s;
$root: '.c-rainbow';

// General classes
html {
  scroll-behavior: smooth;
}
.op0 {
  opacity: 0;
}
.ta {
  text-align: center;
}
.trans-back {
  background-color: transparent;
}

// App.js Classes
.parallax {
  background-image: url("./images/marble-red-01.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow-icon {
  height: 2.8em;
  width: 2.8em;
  padding: 0.5em;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.left-bar {
  position: absolute;
  background-color: transparent;
  top: 0;
  left:0;
  width: 40px;
  height: 10px;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
  &:after {
    content:"";
    background-color: #FFBE0B;
    width: 40px;
    height: 10px;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.right-bar {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left:26px;
  width: 40px;
  height: 10px;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
  &:after {
    content:"";
    background-color: #FFBE0B;
    width: 40px;
    height: 10px;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.Music {
  background-color: rgba(153, 153, 153, 0.979);
  padding-top: 100px;
}

.Social {
  background-color: #FB5607;
  color: white;
  padding-top: 100px;
}

.Footer {
  background-color: #FB5607;
  color: white;
  padding-top: 50px;
}


// Navbar classes
.first-drop-text:hover {
  color: #c1121f;
}
.second-drop-text:hover {
  color: #c1121f;
}
.third-drop-text:hover {
  color: #c1121f;
}
.fourth-drop-text:hover {
  color: #c1121f;
}

.first-drop-text {
    cursor: pointer;
    color: #FFBE0B;
    font-family: "Cooper Black";
}
.second-drop-text {
    cursor: pointer;
    color: #FFBE0B;
    font-family: "Cooper Black";
}
.third-drop-text {
    cursor: pointer;
    color: #FFBE0B;
    font-family: "Cooper Black";
}
.fourth-drop-text {
    cursor: pointer;
    color: #FFBE0B;
    font-family: "Cooper Black";
}

// Social Classes

.follow {
  font-family: "Cooper Black";
  font-size: 60px;
  color: #FFBE0B;
}
.divider {
  background-color: #FB5607;
  padding-top: 300px;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}
.wrapper ul {
  list-style: none;
}
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #FFBE0B;
  float: left;
  transition: all 0.5s ease;
}
.wrapper ul li .fa {
  color: #FFBE0B;
  margin-top: 17px;
  transition: all 0.5s ease;
}
.wrapper ul li:hover.facebook {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}
.wrapper ul li:hover .fa-facebook {
  color: #00aced;
  transition: all 0.5s ease;
}
.wrapper ul li:hover.apple {
  border: 5px solid #a4c0ca;
  box-shadow: 0 0 15px #a4c0ca;
  transition: all 0.5s ease;
}
.wrapper ul li:hover .fa-apple {
  color: #a4c0ca;
  transition: all 0.5s ease;
}
.wrapper ul li:hover.instagram {
  border: 5px solid #f540bc;
  box-shadow: 0 0 15px #fff;
  transition: all 0.5s ease;
}
.wrapper ul li:hover .fa-instagram {
  color: #f540bc;
  transition: all 0.5s ease;
}
.wrapper ul li:hover.twitch {
  border: 5px solid #bc1fd8;
  box-shadow: 0 0 15px #fff;
  transition: all 0.5s ease;
}
.wrapper ul li:hover .fa-twitch {
  color: #bc1fd8;
  transition: all 0.5s ease;
}
.wrapper ul li:hover.spotify {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #fff;
  transition: all 0.5s ease;
}
.wrapper ul li:hover .fa-spotify {
  color: #4dc247;
  transition: all 0.5s ease;
}

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}

// Header classes

:root {
 --color-background: #31037D;
 
 --axis-x: 1px;
 --axis-y: 1rem;
 --delay: 10;
 
 --color-black: #000;
 --color-pink: #FF006E;
 --color-orange: #FB5607;
 --color-red: #06D6A0;
 --color-violet: #CF52EB;
 --color-blue: #44A3F7;
 --color-green: #5ACB3C;
 --color-yellow: #FFBE0B;
 
 --color-foreground: var(--color-pink);
 --font-name: Righteous;
}
.header-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
font-family: "Cooper Black";
}
#{$root} {
 counter-reset: rainbow;
 position: relative;
 display: block;
 
 list-style: none;
 
 padding: 0;
 margin: 0;
 
 &__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow; 
  font-size: 6rem;
  color: var(--text-color);

  text-shadow:
   -1px -1px 0 var(--color-black),  
    1px -1px 0 var(--color-black),
    -1px 1px 0 var(--color-black),
     1px 1px 0 var(--color-black),
   
     4px 4px 0 rgba(0, 0, 0, .2);
  
  animation: rainbow 5s ease-in-out infinite;
  
  @for $i from 1 through 7 {
   &:nth-child(#{$i}) {
    animation-delay: calc( #{$i} / var(--delay) * 1.5s);
    z-index: #{$i * 10};
   }
  }
  
  &:not(:first-child) {
   position: absolute;
   top: 0;
  }

  &--pink  { --text-color: var(--color-pink)}
  &--orange { --text-color: var(--color-orange)}
  &--red    { --text-color: var(--color-red)}
  &--violet { --text-color: var(--color-violet)}
  &--blue   { --text-color: var(--color-blue)}
  &--green  { --text-color: var(--color-green)}
  &--yellow { --text-color: var(--color-yellow)}
 }
}
@keyframes rainbow {
 0%, 100% {
  transform: translatey(calc(var(--axis-y) * 3)); 
 }
 50% {
  transform: translatey(calc(var(--axis-y) * -3));
 }
} 

// About Classes
.about-name {
  font-size: 80px;
  font-family: "Cooper Black";
  color: #c1121f;
}
.about-card {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff; 
  font-size: 30px;
}
.record-button{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  cursor: pointer;
}
.record-button .record-link{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Acme', sans-serif;
  
}
.record-button .record-link:before,
.record-button .record-link:after{
  position: absolute;
  content: "CONTACT ME";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #fff;
  box-sizing: border-box;
  border-radius: 5px;
}
.record-button .record-link:before{
  color: #d00000;
  background: #fff;
  transform: rotateY(0deg) translateZ(25px);
}
.record-button .record-link:after{
  color: #d00000;
  content: "LETS CHAT";
  transform: rotateX(90deg) translateZ(25px);
}
.record-button .record-link:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
.image-container{
  display:flex;
  justify-content:center;
  height:100%;
  width:100%;
  
  overflow:hidden;

  &__image{
    position:relative;
    display:flex;
    
    flex-direction:column;
    justify-content:center;
    width:250px;
    height:250px;
    
    border-radius:50%;
    border: solid 5px white;
    background-image:url('https://silviadiaconescu.com/work/landscape/pb-2.jpg');
    background-size:cover;
    transition: ease-in-out .3s;
    
    z-index:2;
    &:before{
      content: ' ';
      position:absolute;
      
      width:100%;
      height:100%;
      top:0;
      bottom:0;
      left:0;
      margin:auto;
      
      background: inherit;
      background-position:bottom;
      filter:blur(40px) saturate(0%);
      transform:scaleX(0.4);
      transition:ease-in-out .4s;
      border-radius:120px;
      transform-origin:right;
      opacity:0;
      
      z-index:-1;
    }
    &:hover{
      border-radius:0;
      border: solid 5px #FB5607;
      width:450px;
      height:310px;
      
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      &:before{
        width:100%;
        
        opacity: 0;
        transform:scale(2.8) translate3d(-18%, 0px, 0px);
      }
      
      .container__info{
        transform:translate3d(-60%,0px,0px);
        opacity:1;
      }
    }
  }
}


// Modal classes
.screen {
  position: relative;
  background: #e6aa3c;
}
.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}
.screen-body {
  display: flex;
}
.screen-body-item {
  flex: 1;
  padding: 50px;
}
.screen-body-item.left {
  display: flex;
  flex-direction: column;
}
.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #FB5607;
  font-size: 40px;
  border-bottom: #FB5607 2px solid;
}
.app-contact {
  margin-top: auto;
  font-size: 17px;
  color: #ddd;
}
.app-form-group {
  margin-bottom: 15px;
}
.app-form-group.message {
  margin-top: 40px;
}
.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}
.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 18px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
    -webkit-transition-property: transform; /* Safari */
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-property: transform;
    transition-duration: 0.2s;
}
.app-form-control::placeholder {
  color: rgb(209, 208, 208);
}
.app-form-control:focus {
  border-bottom-color: #FB5607;
  color: #FB5607;
  transform: scale(1.2);
}
.app-form-button {
  background: none;
  border: none;
  color: #FB5607;
  font-size: 20px;
  cursor: pointer;
  outline: none;
    -webkit-transition-property: transform; /* Safari */
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-property: transform;
    transition-duration: 0.2s;
}
.app-form-button:hover {
  color: #c1121f;
  transform: scale(1.2);
}
