@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
html {
  scroll-behavior: smooth;
}

.parallax {
  /* The image used */
  background-image: url("./images/marble-red-01.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
}

.parallax-music {
  /* The image used */
  background-image: url("./images/thumb16.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
}

.parallax-about {
  /* The image used */
  background-image: url("./images/_75745654_466377933.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
}

.header {
  color: #e63946;
  font-size: 80px;
  font-family: "Dela Gothic One", cursive;
  box-shadow: 10px azure;
}

.divider {
  background-color: rgba(246, 80, 80, 0.979);
  padding-top: 300px;
}

.Music {
  background-color: rgba(153, 153, 153, 0.979);
  padding-top: 100px;
}

.Footer {
  background-color: rgba(246, 80, 80, 0.979);
  color: white;
  padding-top: 100px;
}

:root {
  --color-background: #31037D;
  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #D49C3D;
  --color-red: #D14B3D;
  --color-violet: #CF52EB;
  --color-blue: #44A3F7;
  --color-green: #5ACB3C;
  --color-yellow: #DEBF40;
  --color-foreground: var(--color-white);
  --font-name: Righteous;
}

.this {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.c-rainbow {
  counter-reset: rainbow;
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.c-rainbow__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow;
  font-size: 6rem;
  color: var(--text-color);
  text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black), 4px 4px 0 rgba(0, 0, 0, 0.2);
  animation: rainbow 5s ease-in-out infinite;
}
.c-rainbow__layer:nth-child(1) {
  animation-delay: calc( 1 / var(--delay) * 1.5s);
  z-index: 10;
}
.c-rainbow__layer:nth-child(2) {
  animation-delay: calc( 2 / var(--delay) * 1.5s);
  z-index: 20;
}
.c-rainbow__layer:nth-child(3) {
  animation-delay: calc( 3 / var(--delay) * 1.5s);
  z-index: 30;
}
.c-rainbow__layer:nth-child(4) {
  animation-delay: calc( 4 / var(--delay) * 1.5s);
  z-index: 40;
}
.c-rainbow__layer:nth-child(5) {
  animation-delay: calc( 5 / var(--delay) * 1.5s);
  z-index: 50;
}
.c-rainbow__layer:nth-child(6) {
  animation-delay: calc( 6 / var(--delay) * 1.5s);
  z-index: 60;
}
.c-rainbow__layer:nth-child(7) {
  animation-delay: calc( 7 / var(--delay) * 1.5s);
  z-index: 70;
}
.c-rainbow__layer:not(:first-child) {
  position: absolute;
  top: 0;
}
.c-rainbow__layer--white {
  --text-color: var(--color-white);
}
.c-rainbow__layer--orange {
  --text-color: var(--color-orange);
}
.c-rainbow__layer--red {
  --text-color: var(--color-red);
}
.c-rainbow__layer--violet {
  --text-color: var(--color-violet);
}
.c-rainbow__layer--blue {
  --text-color: var(--color-blue);
}
.c-rainbow__layer--green {
  --text-color: var(--color-green);
}
.c-rainbow__layer--yellow {
  --text-color: var(--color-yellow);
}

@keyframes rainbow {
  0%, 100% {
    transform: translatey(calc(var(--axis-y) * 3));
  }
  50% {
    transform: translatey(calc(var(--axis-y) * -3));
  }
}

/*# sourceMappingURL=output.css.map */
